@charset "UTF-8";



#postImage {
	height: 100%;
	width: 100%;
}
#card {
	height: 175px;
	width: 600px;
	display: flex;
	flex-direction: row;
	margin: 10px;
	border-radius: 20px;
	
}

#img {
	
	height: 100%;
	width: 40%;
}

#desc {
	
	height: 100%;
	width: 60%;
	
}
#desc h6{
	font-size: 12px;
	margin-left: 20px;
	
}