@charset "UTF-8";
#menu{
	display: flex;
	flex-direction: row;
	list-style-type: none;
	justify-content: space-between;
}
#listitem{
	margin-right: 10px;	
}
.listdiv{
	width: 600px;
	height: 50px;
}
a{
	text-decoration: none;
	color: black;
	cursor: pointer;
}